body {
	background-color: darkgrey;
}

.intro {
	width: 1000px;
	margin: auto;
	color: white;
}

.intro h1 {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 40pt;
	font-color: white;
}

.intro h3 {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 30pt;
	font-color: lightgrey;	
}

.bodytext {
	width: 800px;
	background-color: grey;
	border: 10px;
	padding: 15px;
	margin: auto;
 
}

.bodytext p {
	font-family: 'Playfair Display', serif;
	text-align: left;
	font-size: 16pt;

}

#map {
	width: 800px;
	height: 600px;
	margin: auto;
}